<div class="contact-header">
  Contact information
</div>

<div class="contact-row">
  <img src="assets/contacts/skype.png" class="contactIcon">
  <p class="contact-row-text">katerinalev1992</p>
</div>

<div class="contact-row">
  <img src="assets/contacts/telephone.png" class="contactIcon">
  <p class="contact-row-text">+38 (095) 896 - 62 - 97</p>
</div>

<div class="contact-row">
  <img src="assets/contacts/email.png" class="contactIcon">
  <p class="contact-row-text">katerinalev1992@gmail.com</p>
</div>
