<div>
  <div class="header">
    <mat-toolbar>
      <mat-toolbar-row>

        <!--<button type="button" mat-icon-button (click)="drawer.toggle()">-->
          <!--<mat-icon>menu</mat-icon>-->
        <!--</button>-->

        <span class="headerText"> Kateryna Levytska </span>


      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <div class="avatarWrapper">
        <img src="assets/my_image.png" class="avatar">
      </div>
      <!--<div class="avatarHaader">Lead software engineer</div>-->

      <div class="side-nav-chapter" routerLink="/contacts">Contacts</div>
      <div class="side-nav-chapter" routerLink="/experience">Experience</div>
      <div class="side-nav-chapter" routerLink="/education">Education</div>
      <div class="side-nav-chapter" routerLink="/hobbies">Hobbies</div>
      <div class="side-nav-chapter" routerLink="/blog">Blog</div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

  <div class="footer">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="footer-icon-block">
          <img src="assets/social/linkedin.png" class="fImg">
          <img src="assets/social/facebook.png" class="fImg">
          <img src="assets/social/instagram.png" class="fImg">
          <img src="assets/social/telegram.png" class="fImg">
          <img src="assets/social/twitter.png" class="fImg">
          <img src="assets/social/youtube.png" class="fImg">
          <img src="assets/social/github.png" class="fImg">
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

