<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>2013 - 2015</mat-card-title>
      <mat-card-subtitle>
        <p>Master degree</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/education/computer_science.png" alt="Food service">
    <mat-card-content>
      <p>Donetsk National Technical University, </p>
      <p>Specialty Software Systems</p>
      <p>Echievements: </p>
      <p>2013-2015 - Presidential Scholarship for outstanding academic achievement;</p>
      <p>2015 - Obtaining the master’s diploma with honour;</p>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>

<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>2009 – 2013</mat-card-title>
      <mat-card-subtitle>
        <p>Bachelor</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/education/computer_science.png" alt="Food service">
    <mat-card-content>
      <p>Donetsk National Technical University, </p>
      <p>Specialty Software Systems</p>
      <p>Echievements: </p>
      <p>2013 - Obtaining the bachelor’s diploma with honour;</p>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>


<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Python course</mat-card-title>
      <mat-card-subtitle>
        <p>Fundamentals</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/education/Python3_01.2017.jpg" alt="Food service">
  </mat-card>
</div>

<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>SQL fundamentals cource</mat-card-title>
      <mat-card-subtitle>
        <p>Basic cource</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/education/SQL_fundamentals_course_01.2017.jpg" alt="Food service">
  </mat-card>
</div>

<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Swift</mat-card-title>
      <mat-card-subtitle>
        <p>Basic cource</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/education/Swift%20fundametals%20cource_%2001.2017.jpg" alt="Food service">
  </mat-card>
</div>
