<p class="pStyle">Creation of highly scalable and easy maintainable sources, unit testing.
Custom frameworks design and implementation experience with patterns in mind.
Experience in Client-Server communication, web-sockets, HTTP. Experience in Node.js.
Software estimation experience JIRA/Gantt. Communication with customers.
Ability to work successfully both independently and in a team setting.</p>
<p class="pStyle">Technologies: Javascript, ECMA5/6, Java, Node.js, TypeScript, MongoDB, PostgreSQL, Docker, *nix, ExpressJS,
Mongoose, Apache Spark, UI5. Good understanding of OOP. General and JavaScript related principles.
Experience in OOD. UML. Advanced knowledge of AJAX, JSON, and data-driven JavaScript applications.
Rich experience in JavaScript toolkits and frameworks. Frameworks/Libs such as UI5, Angular4, React.js, Redux.
</p>
<p class="pStyle">Building cross-functional engineering team from scratch. Designing technical architectural solutions for web and
microservice-oriented system. Building full-stack CI/CD pipelines from scratch including infrastructure requirements
design and effective implementation. Design and develop production-ready solutions. Involvement in candidates
interviewing and onboarding process. Introducing and tailoring Agile-based process according to effective company’s
business needs. Engineer, problem solver, expert in software development.</p>
<p class="pStyle">Experienced in:
<ul>
  <li>Software design and architecture</li>
  <li>R&D</li>
  <li>API design and implementation</li>
  <li>Technical writing</li>
</ul>
<p class="pStyle">Technologies: Javascript, ECMA5/6, Java, Node.js, TypeScript, MongoDB, PostgreSQL, Docker, *nix, ExpressJS,
Mongoose, Apache Spark, UI5. Good understanding of OOP. General and JavaScript related principles. Experience in OOD.UML.
Advanced knowledge of AJAX, JSON and data-driven JavaScript applications. Rich experience in JavaScript toolkits and
frameworks. Frameworks/Libs such as Angular4, React.js, Redux.
Creation of high scalable and easy maintainable sources, unit testing. Custom frameworks design and implementation
experience with patterns in mind. Experience in Client-Server communication, web-sockets, HTTP. Experience in Node.js.
Software estimation experience JIRA/Gantt. Communication with customers. Ability to work successfully both independently
and in a team setting.</p>

