<div class="wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>About</mat-card-title>
      <mat-card-subtitle>Responsibilities</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>Creation of highly scalable and easy maintainable sources, unit testing.
        Custom frameworks design and implementation experience with patterns in mind.
        Experience in Client-Server communication, web-sockets, HTTP. Experience in Node.js.
        Software estimation experience JIRA/Gantt. Communication with customers.
        Ability to work successfully both independently and in a team setting.</p>
      <p>Building cross-functional engineering team from scratch. Designing technical architectural solutions for web and
        microservice-oriented system. Building full-stack CI/CD pipelines from scratch including infrastructure requirements
        design and effective implementation. Design and develop production-ready solutions. Involvement in candidates
        interviewing and onboarding process. Introducing and tailoring Agile-based process according to effective company’s
        business needs. Engineer, problem solver, expert in software development.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Technologies</mat-card-title>
      <mat-card-subtitle>Stack of used frameworks and languages</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>Technologies: Javascript, ECMA5/6, Java, Node.js, TypeScript, MongoDB, PostgreSQL, Docker, *nix, ExpressJS,
        Mongoose, Apache Spark, UI5. Good understanding of OOP. General and JavaScript related principles.
        Experience in OOD. UML. Advanced knowledge of AJAX, JSON, and data-driven JavaScript applications.
        Rich experience in JavaScript toolkits and frameworks. Frameworks/Libs such as UI5, Angular4, React.js, Redux.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Technologies</mat-card-title>
      <mat-card-subtitle>Stack of used frameworks and languages</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>Technologies: Javascript, ECMA5/6, Java, Node.js, TypeScript, MongoDB, PostgreSQL, Docker, *nix, ExpressJS,
        Mongoose, Apache Spark, UI5. Good understanding of OOP. General and JavaScript related principles.
        Experience in OOD. UML. Advanced knowledge of AJAX, JSON, and data-driven JavaScript applications.
        Rich experience in JavaScript toolkits and frameworks. Frameworks/Libs such as UI5, Angular2+ (4,5,6,7), React.js, Redux.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Experienced in</mat-card-title>
      <mat-card-subtitle>Stack of used frameworks and languages</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <ul>
        <li>Project leading</li>
        <li>Work with customer</li>
        <li>Software design and architecture</li>
        <li>R&D</li>
        <li>API design and implementation</li>
        <li>Technical writing (Confluence/API documentation)</li>
      </ul>
    </mat-card-content>
  </mat-card>


</div>
