<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Graphical editor. 2017.07.01 - present</mat-card-title>
      <mat-card-subtitle>
        <p>Technology stack: Typescript, SVG, Angular 5+, NodeJS, Socket.io, RESTful API, gitlab CI/CD, docker</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/experience/graph_editor.png" alt="Food service">
    <mat-card-content>
      <p>
        Project was developed for building the graphical representation for business models
      </p>
      <p>
        Roles: Project lead. Time estimation, project management, development, testing, documentation, delivery
      </p>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>

<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Android face recognition app. 2016.06.01 - 2017.06.01</mat-card-title>
      <mat-card-subtitle>
        <p>Technology stack: java, Android, Google mobile vision, KNN-algorithm</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/experience/face_recognition.jpg" alt="Food service">
    <mat-card-content>
      <p>
        Project was developed for teaching the image set and use the result for further face recognition
      </p>
      <p>
        Roles: Full project stack: time estimation, development, testing, delivery
      </p>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>

<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cinema service</mat-card-title>
      <mat-card-subtitle>
        <p>Technology stack: java, javascript, OpenUI5, qUnit</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Project was developed for ordering concert and movie tickets
      </p>
      <p>
        Roles: Front-end developer
      </p>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>

<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>KPI dashboard</mat-card-title>
      <mat-card-subtitle>
        <p>Technology stack: javascript, OpenUI5, qUnit, RESTful API</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Project was developed for managing the key performance indeces for different parameters.
      </p>
      <p>
        Roles: Front-end developer
      </p>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>

<div class="displayCenter" style="width: inherit">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Food service. 2015.12.25 - 2016.03.01</mat-card-title>
      <mat-card-subtitle>
        <p>Back-end: Java, Hibernate, wildfly, postgres;</p>
        <p>Front-end: javscript, OpenUI5</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Project was developed for ordering food by company employees
      </p>
      <p>
        Roles: Back-end developer, front-end developer
      </p>
    </mat-card-content>
    <!--<mat-card-actions>-->
    <!--<button mat-button>LIKE</button>-->
    <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>
